.counter-container {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
  
}
body{
    background:  linear-gradient(180deg ,blue, white, blue);
}

.button-group {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  transition: background-color 0.2s;
}

button:hover:not(:disabled) {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
