body {
  font-family: "Poppins", sans-serif;
  background:  linear-gradient(90deg,rgb(77, 92, 77) 0%, white 50%, rgb(77, 88, 77) 100%)
  
  ;
  margin: 0; 
  padding: 0;
}

.expense-tracker {
  /* max-width: 800px; */
  margin: 20px auto;
  background: #fff;
  border-radius: 10px;
 
  padding: 20px;
  width: 100vh;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
}

.header {
  text-align: center;
  color: #0a4e04;
  margin-bottom: 20px;
}

.expense-form {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.expense-form input,
.expense-form select {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.expense-form button {
  background:#0a4e04;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.filter-container {
  text-align: center;
  margin: 10px 0;
}

.filter-container button {
  margin: 3px;
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  background: #e4e4e4;
  cursor: pointer;
}

.filter-container .active {
  background: #0e4908;
  color: white;
}

.stats {
  background: #f7f7f7;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;
  
}

.numb{
  display: flex;
  justify-content: space-between;
}

.ulil{
  display: flex;
  justify-content: space-between;
}
.expense-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.expense-item {
  padding: 10px;
  border-radius: 6px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

.item-actions button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.no-expenses {
  text-align: center;
  color: #0a4e04;
}

@media (max-width: 600px) {
  .expense-form {
    flex-direction: column;
  }
  .expense-item {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 5px;
  }
}