:root{
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 16px;
  text-align: center;
  width: 220px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  font-family: Arial, sans-serif;
}

img {
  position: relative;
}

img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

p {
  color: green;
  font-weight: bold;
}


body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(128, 128, 128, 0.5);
  color: rgb(204, 84, 84);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

